#contenthost {
    height: 100%;
    width: 100%;
}

.fragment {
    /* 定義格線，內含用於橫幅和主體的列 */
    display: block;
    height: 100%;
    width: 100%;
}


/*
----------------meta--------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.btn {
    min-height:40px;
}
/*
-----------index---------------*/
.game-index {
	margin: 0 auto;
	padding-top:10%;
	width:100%;
	height:100%;

	/* http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/ */
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #5DB5EF 100%);

	/* Mozilla Firefox 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #5DB5EF 100%);
	 Opera 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #5DB5EF 100%);
	 Webkit (Safari/Chrome 10) 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #5DB5EF));
	 Webkit (Chrome 11+) 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #5DB5EF 100%);
	*/

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #5DB5EF 100%);
}
.game-index h1{
	text-align: center;
}

.game-index .btn-control{
	width:20%;
	display:block;
	margin:0 auto;
	margin-top:5%;
}
.game-index .btn-resume{
	display:none;
}
.game-index .btn-play{
	margin-top:15%;
}

/* Game view
---------------------------------------*/

.game-view {
	margin: 0 auto;
    padding-top:10%;
	width:100%;
	height:100%;
	/* http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/ */
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #669194 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #669194 100%);
}

.game-view h1{
	text-align: center;
}

.game-view .tic-table {
	margin:0 auto;
	width:63%;
	height:60%;
	min-width:180px;
	min-height:180px;	
}

.game-view .tic-table .column{
	width:100%;
    height:33%;
}

.game-view .tic-table .cell{
	width:33%;
	height:100%;
	min-width:50px;
	min-height:50px;
	float:left;
}



/* Game-View table borders
---------------------------------  */
.game-view .tic-table {
	border:1px solid black;
	padding:2px;
	position:relative;
}

.game-view .tic-table .cell:nth-child(1),
	.game-view .tic-table .cell:nth-child(2){
	border-right:1px solid black;
	border-bottom:1px solid black;
}
.game-view .tic-table .cell:nth-child(3){
	border-bottom:1px solid black;
}
.game-view .tic-table .column3 .cell{
	border-bottom:none;
}

/* Game-View   cell states
------------------------------------*/
.game-view .tic-table .cell{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #49CCB2 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image:  linear-gradient(to bottom right, #FFFFFF 0%, #49CCB2 100%);

	cursor:pointer;
}

.game-view .tic-table .cell-actived {
	background:inherit;
}

.game-view .tic-table .cell-circle .icon{
	border:2px solid black;
	border-radius: 50%;	
	height: 70%;
	width: 60%;
	margin-top:10%;
	margin-left:20%;


	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #E6EDFF 0%, #000000 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #E6EDFF 0%, #000000 100%);
}

.game-view .tic-table .cell-cross .icon{
	margin-top:25%;
	margin-left:5%;
	display:inline-block; width:40%; height:2px; background:#f00; font-size:0; line-height:0;vertical-align:middle;transform: rotate(45deg);
}
.game-view .tic-table .cell-cross .icon:after { 
	content:'.'; display:block; width:100%; height:2px; background:#f00;transform: rotate(-90deg);
}

.game-view .tic-table .cell-lined {
	background:green;
}


/* Game-View  status and control
--------------------------------------*/

.game-view .status{
	font-size:150%;
	color:red;
	font-weight:bold;
	clear:both;
	text-align: center;
	margin-top:4%;
}
.game-view .controll{
	display:none;
	margin:0 auto;
	margin-top:3%;
	width:30%;
	min-width: 230px;
}
.game-view .controll .btn:nth-child(2){
	margin-left:20px;
}
.game-view .controll-active{
	display:block;
}


/* Game-Record
-----------------------------------------*/

.game-record {
	margin: 0 auto;
	width:100%;
    padding-top:10%;
	height:100%;
    padding-top:10%;
	min-width:300px;
	min-height:360px;	
	/* http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/ */
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #669194 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #669194 100%);
}
.game-record h1{
	text-align: center;
}
.game-record table{
	width:80%;
	margin:0 auto;
}

.game-record .controll{
	width:240px;
	margin: 0 auto;
}
.game-record .controll .btn:nth-child(2){
	margin-left:30px;
}